<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cámara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- let es un tipo de dato inmutable, solo admitiría fotos y no vídeos -->
      <!-- reemplazar por var para hacerlo mutable -->
      <ion-col size="4" *ngFor="let photo of photos; index as position">
        <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click) = "addNewPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
